/app/config/parameters.yml
/build/
/phpunit.xml

/bin/*
!bin/console
!bin/symfony_requirements

/var/cache/*
!var/cache/.gitkeep
/var/logs/*
!var/logs/.gitkeep
/var/sessions/*
!var/sessions/.gitkeep
/var/bootstrap.php.cache
!var/SymfonyRequirements.php

/vendor/

/web/bundles/
/web/css/
/web/uploads/
/web/vendor/

/node_modules/
