{% extends 'GateBundle::base-admin.html.twig' %}

{% block body %}
    <h1 class="page-header">Give a Badge</h1>

    <div class="ui grid">
        <div class="ui eight wide column">
            <div class="ui stacked segments">
                <div class="ui segment">
                    <p>Select a badge</p>
                </div>
                <div class="ui segment">
                    <select name="badge" id="badge" style="width: 100%;">
                    </select>
                </div>
            </div>
        </div>
        <div class="ui eight wide column">
            <div class="ui stacked segments">
                <div class="ui segment">
                    <p>Select a user</p>
                </div>
                <div class="ui segment">
                    <select name="user" id="user" style="width: 100%;">
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="ui horizontal divider">
        If deserved, then...
    </div>

    <div class="ui basic segment center aligned">
        <a href="{{ path('admin_achievement_new') }}" class="ui small green labeled icon button">
            <i class="fa fa-trophy icon"></i> Give it!
        </a>
    </div>


{% endblock %}

{% block javascripts %}
    <script>
        var JSONdata = '{{ achievements|e('js') }}';
        var data = JSON.parse(JSONdata);

        data = _.map(data, function (badge) {
            badge.text = badge.title;

            return badge;
        });

        $("#badge").select2({
            escapeMarkup: function (markup) { return markup; },
            data: data, // let our custom formatter work
            templateResult: formatBadge // omitted for brevity, see the source of this page
        });

        function formatBadge (badge) {
            console.log(badge);
            var markup = "<div class='select2-result-repository clearfix'>";

            if (badge.imageWebPath) {
                markup += "<div class='select2-result-repository__avatar'><img src='/" + badge.imageWebPath + "' /></div>";
            }

            markup += "<div class='select2-result-repository__meta'>" +
                      "<div class='select2-result-repository__title'>" + badge.title+ "</div>";

            if (badge.description) {
                markup += "<div class='select2-result-repository__description'>" + badge.description + "</div>";
            }

            markup += "</div></div>";

            return markup;
        }
    </script>
{% endblock %}
