{% extends '@Gate/base.html.twig' %}

{% block body %}
    <div class="ui main container ir-dashboard">
        <h2 class="ui dividing header">All awarded users</h2>

        <div class="ui six column grid">
            {% for user in users %}
                <div class="column">
                    <a href="{{ url('userprofile', {'username': user.username}) }}" class="ui fluid card">
                        <div class="image">
                            <img src="{{ user.profilePicture }}">
                        </div>
                        <div class="content">{{ user.username }}</div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
