{% extends 'GateBundle::base-admin.html.twig' %}

{% block body %}
    <h1>Badge creation</h1>

    {{ form_start(form, { 'attr': {'class': 'ui form'} }) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}

    <div class="ui clearing">
        <button class="ui right floated primary button" type="submit">Create</button>
    </div>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        $('#badge_tags').selectize({
            plugins: ['remove_button'],
        });
    </script>
{% endblock %}
