{% extends '@Gate/base-admin.html.twig' %}

{% block body %}
    <h1 class="page-header"><i class="icon plus"></i> Tag creation</h1>

    {{ form_start(form, { 'attr': {'class': 'ui form'} }) }}
    {{ form_errors(form) }}

    <div class="ui segments">
        <div class="ui segment">
            {{ form_widget(form) }}
        </div>
        <div class="ui secondary clearing segment">
            <button class="ui right floated green button" type="submit"><i class="ui save icon"></i> Create</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('#tag_name').on('input', function () {
                var name = $('#tag_name').val();
                // Credits: http://stackoverflow.com/questions/11815883/convert-non-ascii-characters-umlauts-accents-to-their-closest-ascii-equiva
                var code = name.normalize('NFKD').toLowerCase()
                    .replace(/[\u0300-\u036F]/g, '')
                    .replace(/[^\w\s-]/g, '') // remove non-word [a-z0-9_], non-whitespace, non-hyphen characters
                    .replace(/[\s_-]+/g, '-') // swap any length of whitespace, underscore, hyphen characters with a single -
                    .replace(/^-+|-+$/g, ''); // remove leading, trailing -

                $('#tag_code').val(code);
            });
        });
    </script>
{% endblock %}
